<!DOCTYPE html>
<html>
  <head>
    <title>Guassian Naive Bayes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Clasificador Gaussian Naive Bayes</p>

    <a href="/">Inicio</a>

  </body>
</html>